body{
    background-color: rgb(108, 108, 108);
    text-shadow: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(255, 0, 0);
    font-weight:13px;
    text-shadow: 1px 1px gray;
    font-size:xx-large;
    font-family:arial; 
}
a {
    color:slategray;
}
a :hover {
    color:brown;
}
.smoothButton {
    border:chartreuse;
    text-align: center;
    color:brown;
    border-radius: 100px;
    padding: 10px 24px ;
    background-color: rgb(227, 214, 199);
    font-size: 16px ;
    cursor: pointer;
}
