body{
    background: rgb(120, 0, 0);

}
h3,p,h2{
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.smoothButton{
    box-shadow: 1px 2px 4px 1px white;
    width: 160px;
    height: 50px;
    text-align: center;
    color: rgb(121, 0, 0);
    background: #ffffff;

    z-index: 0;
    border-radius: 50px
}
img{
    background-color: whitesmoke;
    border-radius: 50px;
    text-align: center;
    width: 70px;
    border: solid 5px rgb(120, 0, 0);
    margin: auto;
}
#tit{
    background-color: whitesmoke;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    color: rgb(120,0,0);
}
.what{
    text-align: center;
    background-color:whitesmoke;
    color: rgb(120, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 80px;
    text-shadow: 1px 2px 3px white;
}